@import "../node_modules/bootstrap/scss/bootstrap";
$input-placeholder-color: $gray-500;

$font-family-lato: 'Lato', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

$headings-font-family: $font-family-lato;

