@import "../node_modules/bootstrap/scss/bootstrap";
$input-placeholder-color: $gray-500;

$font-family-lato: 'Lato', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

$headings-font-family: $font-family-lato;

$blue: #3282F7;
$red: #ED6454;
$green: #68D9A4;
// .bg-danger{
//     background-color: $red !important;
// } 
// .bg-success{
//     background-color: $green !important;
// }





