@import "variable_overrides";  // <-- ajouter cette ligne tout en haut du fichier
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.flex{
    display: flex;
}

.hidden{
    display: none;
}

#searchInput{
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: center;
}

.card-text{
    font-family: $font-family-roboto;
    font-size: .7rem;
    overflow: hidden;
    line-height: 1rem;
    max-height: 5rem;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;


}

.ingredients{
    font-family: $font-family-lato;
    font-size: .7rem;
}


dt, dd{
    display: inline;
    line-height: 1rem;
  }

  dd:after {
    content: '\A';
    white-space: pre;
}

.card-title{
    line-height: 2rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    width: unset;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 70%;
}

.time{
    line-height: 2rem;
    background-image: url('../images/time.svg');
    background-position: left center;
    background-repeat: no-repeat;
    width: unset;
    display: flex;
    align-items: center;
    padding-left: 1.7rem;
    font-size: 1.2rem;
    font-weight: bold;
  

}

.card-container{
    display: flex;

}

.title{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

// select.form-control {
//     // -webkit-appearance: menulist;

//     background-image: url('../images/arrow-down.svg');
//     background-repeat: no-repeat;
//     background-position: 95% center;
//     background-size: .8rem;
//     font-family: $font-family-lato;
//     font-size: 1rem;
//     font-weight: bold;
//     display: flex;
//     option{
//         min-height: .2em;
//     }

// }




#ingredients{
    background-color: $blue;
    ul{
        background-color: $blue; 
    }
}

#appareil{
    background-color: $red;
    ul{
        background-color: $red
    }
}

#ustensiles{
    background-color: $green;
    ul{
        background-color: $green;  
    }
}

.column-8{column-count: 8;}
.column-5{column-count: 5;}
.column-3{column-count: 3;}
.column-1{column-count: 1;}


.sort-select{
    position: relative;
    margin-right: 2rem;
    padding: 0;
    border-radius: 5px;
    
    
    input{
        width: 100%;
        background-color: transparent;
        border: none;
        font-weight: bold;
        font-family: $font-family-lato;
        font-size: 1.2rem;
        padding: 1.5rem;
        color: #fff;
        background-image: url('../images/arrow-down.svg');
        background-repeat: no-repeat;
        background-position: 95% center;
        &::placeholder{
            color: #fff;
            
        }
    }
    .sort-list{
        display: none;
        position: absolute;
        z-index: 1;
        color: #fff;
        list-style: none;
        min-width: 100%;
        padding: 1.2rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-family: $font-family-lato;
        font-size: 1rem;
        
        li{
            line-height: 1.2rem;
            width: 7.5rem;
            margin-bottom: .5rem;
        }
    }
    &.active{
        .sort-list{
            display: block;
        }
        input{
            background-image: url('../images/arrow-up.svg');
            &::placeholder{
                color: rgba(255, 255, 255, .5);
            }
        }
    }
    
}

.tag{
    font-family: $font-family-lato;
    color: #fff;
    border-radius: 5px;
    font-size: .8rem;
    padding-left: 1.2rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
  
    padding-right: 1rem;
    display: flex;
    width: unset;
    margin-bottom: .3rem;
    margin-right: .3rem;
    .close{
        background-image: url('../images/close.svg');
        background-repeat: no-repeat;
        background-position: 95% center;
        
        background-size: contain;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-left: .5rem;
    }
}

.tags-section{
    display: flex;


}
.tags-col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .ingredients{
        background-color: $blue;
    }
    .appareil{
        background-color: $red;
    }
    .ustensiles{
        background-color: $green;
    }
}

